<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ib.medical">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediCal">
        <activity
            android:name=".AddMedActivity"
            android:parentActivityName=".MedListActivity"></activity>
        <activity android:name=".AddDocActivity" />
        <activity android:name=".DocListActivity" />
        <activity android:name=".TestResultsActivity" />
        <activity android:name=".GenerateReport" />
        <activity android:name=".MedListActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>